PORT=3004
EXPRESS_SESSION_SECRET=
ORIGIN=
CORS_ORIGIN=
NODE_ENV=


# MONGODB_URI=
MONGODB_LOCAL_URI=
ACCESS_TOKEN_EXPIRY=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=
REFRESH_TOKEN_SECRET=

CLOUDNARY_APISECRET=
CLOUDNARY_APIKEY=
CLOUDNARY_CLOUDNAME=




